.vscode

galaxy_sed/bindings/build
galaxy_sed/__pycache__

galaxy_sed/Dust_cpp_pybind/build
galaxy_sed/Dust_cpp_pybind/calculation_result/dust_model/asano_model
galaxy_sed/Dust_cpp_pybind/calculation_result/dust_model/averaged_dust_property
galaxy_sed/Dust_cpp_pybind/calculation_result/makeSED
galaxy_sed/Dust_cpp_pybind/calculation_result/stellar_spectrum

galaxy_sed/Dust_cpp_pybind/data
